DB_HOST = '127.0.0.1'
DB_NAME = 'orbiter'
DB_PORT = 3306
DB_USER = orbiter
DB_PASS = 123456
DB_ROOT_PASS = 123456

DB_HOST2 = '127.0.0.1'
DB_NAME2 = 'transaction'
DB_PORT2 = 3306
DB_USER2 = orbiter
DB_PASS2 = 123456

logstashHost = '127.0.0.1'
logstashPort = '5044'
