logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
.nyc_output/
dist/
mysql*/
local.*
.vscode/
cache/
backend/src/config/maker.ts
backend/src/chainCore/chains.json
backend/src/chainCore/testnet.json
backend/src/config/chains.json
backend/src/config/testnet.json
backend/src/util/maker/maker_list_test.ts
backend/test/chain.json
backend/test/transfer.test.ts
backend/package-lock.json
history/package-lock.json
package-lock.json
yarn.lock
chainlogs/
.env
.env*
!.env.example
runtime/
backend/yalc.lock
.yalc
.env
testnet.json
chains.json
