logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
.nyc_output/
dist/
mysql*/
local.*
.vscode/
cache/
backend/src/config/maker.ts
backend/src/chainCore/chains.json
backend/src/chainCore/testnet.json
chainlogs/
runtime/
backend/yalc.lock
backend/yarn.lock
.yalc
.env
