// ::-webkit-scrollbar {
//   width: 5px;
//   height: 5px;
//   background-color: transparent;
// }
// ::-webkit-scrollbar-track {
//   border-radius: 5px;
//   background-color: transparent;
// }
// ::-webkit-scrollbar-thumb {
//   border-radius: 5px;
//   background-color: rgba(0, 0, 0, 0.25);
// }

body {
  background-color: #e8e8e8;
  padding: 0;
  margin: 0;
}

#app {
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.amount-operator--plus {
  color: #{var(--el-color-success)};
}
.amount-operator--minus {
  color: #{var(--el-color-danger)};
}

.el-table,.vxe-table {
  .warning-row {
    background-color: var(--el-color-warning-light);
  }
  .success-row {
    background-color: var(--el-color-success-light);
  }
  .danger-row {
    background-color: var(--el-color-danger-light);
  }
}
